body {
  margin: 0;
  background: #202027;
}

:root {
  --primary-color: #f1d576;
}

a {
  color: currentColor;
  text-decoration: none;
}

@media screen and (min-width: 751px) {
  .media-sp {
    display: none;
  }

  .media-pc {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .media-sp {
    display: block;
  }

  .media-pc {
    display: none;
  }
}
